
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: white;
  position:relative;
}

.hero-mandala{
  position: absolute;
  top:31%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 60%;
  max-width: 800px;
  height: auto;
  z-index: 1;
  opacity: 0.3;
  overflow: hidden;
  

}



.hero-logo-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index:2;
}
.hero-logo {
  position: relative; 
  width: 100%;
  
  max-width: 650px; 
  
  height: auto;
}

.hero-title {
  font-family: 'Pirata One', cursive;
  font-weight: 400;
  font-size: 48px;
  color: #FED000;
  letter-spacing: 4%;
  margin: 10px 0;
  position:relative;
  z-index:2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-subtitle {
  font-family: 'Pirata One', cursive;
  font-size: 25px;
  color: #FFDF49;
  margin: 0 0 30px 0;
  font-weight: 300;
}